.navbar {
  background: none;
    background: linear-gradient(175deg,rgba(255, 255, 255, 0.619), rgba(255, 255, 255, 0))!important;
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-bottom: 1.5px solid rgba(255, 255, 255, 0);
  padding: 0;
  padding-bottom: 2px;
  padding-top: 2px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.078);
}

.navbar::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    135deg, 
    rgba(255, 255, 255, 0) 0%, 
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: inherit;
  pointer-events: none;
}



.navbar .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.container-fluid img{
  height: 35px;
  filter: drop-shadow(1px 4px 1px rgba(0, 0, 0, 0.11));
}

body{
  /* background-color: #eeeeee; */
  background-color: #ececf5;
  font-family: 'Poppins';
}

section{
  width: 100%;
  height: 100vh;
}

.top{
  position: fixed;
  z-index: 1000;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  padding-top: 20px;   
}

.top h1 {
  text-align: center;
  margin-top: 0px;
  font-size: 50px;
  background: 
    linear-gradient(to bottom, rgba(255,255,255,0.25), rgba(255,255,255,0) 60%),
    linear-gradient(to right, #181818, #2c2c2c, #5e5e5e, #2c2c2c, #181818);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 
    0 2px 4px rgba(0,0,0,0.4),
    0 0px 4px rgba(0, 0, 0, 0);
  filter: drop-shadow(0 0 4px rgba(255,255,255,0.2));
}


.top p{
  text-align: center;
  font-size: larger;
  margin-left: 20px;
  margin-right: 20px;
}

.mid{
  margin-top: 100vh;
  position: relative;
  z-index: 1000;
  /* background-color: #523f38; */
  /* background-color: #3a4254; */
  padding: 20px; 
  padding-bottom: 30px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  min-height: fit-content!important;
  background: rgba(1, 0, 9, 0.783) !important;
  border-top: 3px solid rgba(255, 255, 255, 0.247);
  border-bottom: 3px solid rgba(255, 255, 255, 0.247);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.32);
  color: #fff !important;
}
/* 
.mid::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    175deg, 
    rgba(255, 255, 255, 0.107) 0%, 
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: inherit;
  pointer-events: none;
  z-index: 1;
} */

.mid p, .mid h1{
  filter: drop-shadow(1px 4px 1px rgba(0, 0, 0, 0.393));
}

.bot{
  position: relative;
  z-index: 1000;
  background: none;
  padding: 5px; 
  display: flex;
  align-items: end;
  justify-content: center;
}

.card1{
  border-radius: 30px;
  box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.205);
  /* border-bottom: #474f62 solid 1px;
  border-right: #474f62 solid 1px; */
}

.card1 img, .card, .card img{
  border-radius: 30px!important;
  border: 0px!important;
}
.card1, .card1 img{
scale: 0.99!important;
  
}

ul {
  list-style: none;
}

ul.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 70px;
  
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px!important;
  margin-top: 10px!important;
  
}
.example-2 .icon-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55px;
  vertical-align: middle;
  margin: 0;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}


.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.429);
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 6px 10px 0 rgba(41, 30, 90, 0.1);
  color: #232323;
  transition: all 0.3s ease-in-out;
  
}

.example-2 .icon-content a::after {
  content: "";
  position: absolute;
  bottom: -60%;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  transform: scaleY(-1);
  border-radius: 50%;
  opacity: 1;
  

  mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), transparent);
  -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), transparent);
}


.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
  filter: drop-shadow(1px 4px 1px rgba(0, 0, 0, 0.215));
  
}

.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000000;
  transition: all 0.3s ease-in-out;
}

.carousel-rounded,
.carousel-rounded .carousel-inner,
.carousel-rounded .carousel-item,
.carousel-rounded .card-img-top {
  border-radius: 30px !important;
  overflow: hidden;
}

.carousel-rounded {
  padding: 2px;
  box-shadow:
    inset 1px 1px 2px #4c4a5a,
    inset -2px -1px 2px #807f8e,
    0px 1px 5px #4f4f57,
    -2px -1px 5px #90909381,
    0 5px 10px 0 rgba(0, 0, 0, 0.6)!important;

  border: 1px solid #909092;
}

#myTextCarousel{
  overflow: hidden!important;
}

@keyframes liquidWobble {
  0%   { transform: scale(1) skewX(0deg); }
  10%  { transform: scale(1.01, 0.99) skewX(-0.4deg); }
  22%  { transform: scale(0.99, 1.01) skewX(0.4deg); }
  35%  { transform: scale(1.01, 0.99) skewX(-0.3deg); }
  48%  { transform: scale(0.995, 1.005) skewX(0.3deg); }
  60%  { transform: scale(1.005, 0.995) skewX(-0.2deg); }
  72%  { transform: scale(0.997, 1.003) skewX(0.2deg); }
  85%  { transform: scale(1.003, 0.997) skewX(-0.1deg); }
  100% { transform: scale(1) skewX(0deg); }
}

.liquid-wobble {
  animation: liquidWobble 1s cubic-bezier(.22,1.08,.53,.97) both;
}

@keyframes slideDownNavbar {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.navbar {
  animation: slideDownNavbar 2s cubic-bezier(.22,1.08,.53,.97) both;
  animation-delay: 1s;
}